@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,900;1,300&family=Source+Code+Pro:wght@700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  color: "white";
  font-family: "Montserrat", sans-serif;
  text-decoration: none !important;
}

.nav-icons {
  text-decoration: none !important;
  opacity: 35%;
}

.back-arrow {
  position: absolute;
  color: white !important;
  width: 2em !important;
  height: 2em !important;
  top: 3em;
  left: 2em;
  z-index: 5;
}

.bg-brand {
  background-color: #1a1b41 !important;
}
.brand-logo,
h2 {
  font-family: "Poppins", sans-serif !important;
  color: #fe9124;
}

.auth-card {
  padding: 20px;
  text-align: center;
}

.card {
  max-width: 400px;
  margin: 70px auto;
}
.btn {
  margin-top: 15px;
}
.input-field input:focus {
  text-align: center;
  border-bottom: 1px solid rgb(84, 132, 196) !important;
  box-shadow: 0 1px 0 0 rgb(42, 157, 252) !important;
}

.container-input {
  width: 70% !important;
  height: 3em !important;
  border-radius: 0.5em !important;
  background-color: white !important;
}

.tp-box {
  border: none;
  width: 6em !important;
  height: 3rem !important;
  padding: 0;
  text-align: center;
  background-color: white !important;
  font-size: 1em;
  border-radius: 0.5em !important;
}

.carousel {
  height: 35vh !important;
}
.inside-box {
  padding-left: 1em !important;
  padding-bottom: 1.5em !important;
  top: 0em !important;
  border: none !important;
  height: 1em !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  border: none !important;
  font-family: "Montserrat", sans-serif !important ;
  font-weight: 400;
}
a {
  color: inherit !important;
}
.location-border {
  width: 6em;
  height: 6em;
  border: orange 0.2em solid;
  border-radius: 0.5em;
  justify-self: right !important;
}

.bg-orange {
  background-color: #fe9124 !important;
}
.profilebox {
  margin: 40px 80px;
  padding-bottom: 40px;
  justify-content: space-around;
  display: flex;
  border-bottom: solid 2px gray;
}
.profilebox img {
  width: 160px;
  height: 160px;
  border-radius: 80px;
}
.gallery {
  width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px;
}
.gallery img {
  width: 300px;
  height: 300px;
}

.overlay {
  background-color: rgb(26, 27, 65, 0.5);
  width: 100vw;
  height: 20em;
  margin-top: -15.5em;
  z-index: 2;
  border-radius: 4em;
  position: relative;
  line-height: 12px;
  padding-top: 3.9em;
  /* border-bottom: 0.5em solid #fe9124; */
}

#bday {
  background-image: url("./images/bday.jpeg");
  background-size: cover;
}
#brideToBe {
  background-image: url("./images/bride_to_be.jpeg");
  background-size: cover;
}
#date_night {
  background-image: url("./images/date_night.jpeg");
  background-size: cover;
}
#escapes {
  background-image: url("./images/escapes.jpeg");
  background-size: cover;
}
.tape {
  height: 2em;
  background-color: rgb(26, 27, 65, 0.5);
  margin-top: 12em;
  color: white;
}
.benefits {
  align-items: center;
  width: 80vw;
  height: 17em;
  background-color: white;
  color: black;
  border-radius: 1em;
  display: inline-block;
}

.confirm-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: #fe9124 solid 0.1em;
  padding: 1em;
  border-radius: 1em;
}

.post-bar {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 10px;
}

.home-card {
  max-width: 800px;
}

.checkbox {
  padding: 10px !important;
}

.wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
  margin: 0px auto;
  padding: 0px auto;
  background-color: whitesmoke;
}
.left-sidebar {
  margin: 10px;
  font-size: 20px;
  background-color: white;
  height: 100vh;
  box-shadow: gray 1px 1px 2px 1px;
  position: sticky;
  top: 0;
  text-align: center;
}

.left-sidebar h6 {
  text-align: center;
  position: fixed;
  bottom: 50px;
  left: 100px;
}

.center-bar {
  margin: 10px;
  background-color: white;
  min-height: 100vh;
  margin: 10px;
  box-shadow: gray 1px 1px 2px 1px;
}

.booking-box {
  padding: 20px;
  width: 90%;
  margin: 30px auto;
  background-color: white;
  box-shadow: gray 1px 1px 2px 1px;
}

.hlist {
  margin: auto;
  margin-top: 15px;
  padding: 0px;
  height: 40%;
  width: 85%;
  border-radius: 2em;
  line-height: 0vmin;
  display: grid;
  grid-template-rows: 1fr;
  background-color: white;
  text-decoration: none;
}

.blist {
  margin: auto;
  margin-top: 15px;
  padding: 0px;
  height: 40%;
  width: 85%;
  border-radius: 1em;
  line-height: 0vmin;
  display: grid;
  grid-template-rows: 1fr;
  background-color: white;
  text-decoration: none;
}

.oldbill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
}
.oldbill > p {
  text-align: left;
  font-weight: bolder;
}
.oldbill > p:nth-child(even) {
  text-align: left;
  font-weight: normal;
}

.hlist-img {
  width: 100%;
  height: 15em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding: 0.2em;
}
.room-type {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 3fr 3fr;
  padding: 2em;
  width: 88vw;
  height: 15vh;
  background-color: white;
  text-decoration: none;
  color: black;
  line-height: 4vmin;
  border-radius: 1em;
  align-self: center;
}
.room-type-active {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 3fr 3fr;
  padding: 2em;
  width: 88vw;
  height: 15vh;
  background-color: white;
  text-decoration: none;
  color: black;
  line-height: 4vmin;
  border-radius: 1em;
  border-bottom: #fe9124 solid 0.5em;
  outline: none;
}
.confirmBtn {
  position: relative;
  width: 2em;
  height: 2em;
}
.user-page-btn {
  border: #fe9124 solid 0.1em;
  width: 14em !important;
  height: 2em;
  border-radius: 0.5em;
  margin: 2em;
}
.nav-icon {
  opacity: 50% !important;
  color: black !important;
}
.nav-icon-active {
  opacity: 100% !important;
  color: #fe9124 !important;
}

.half-card {
  display: block;
  margin: 10px;
  padding: none;
  color: black;
  text-decoration: none;
  line-height: 0em;
}
.bill {
  margin: 20px;
  display: grid;
  line-height: 0.75vmin !important;
  grid-gap: 15px;
}
.imgDot {
  width: fit-content;
  height: fit-content;
  margin: 20px;
  padding: 15px;
  border: dashed 2px;
  border-color: grey;
}
.user-hotel-box {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding-bottom: 1em;
  border-bottom: orange 0.2em solid;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 0.75em;
  padding: 1em;
  text-align: center;
}

.input:placeholder-shown {
  /* Chrome/Opera/Safari */
  padding: 1em;
  text-align: center;
}

::-moz-placeholder {
  /*firefox*/
  text-align: center;
  padding: 1em;
}
.right-text {
  text-align: end !important;
}
.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60% !important;
}
.w-63 {
  width: 63vw !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80vw !important;
}
.w-90 {
  width: 90vw !important;
}
.w-100 {
  max-width: 100vw !important;
}
.h-30 {
  max-height: 30vh;
}
.h-90 {
  height: 90vh;
}
.img-hotel {
  max-height: 35vh !important;
  width: 100vw;
}
.title_text {
  color: #fe9124;
}

.f-10 {
  font-size: 0.25em;
}

.f-12 {
  font-size: 0.5em;
}

.f-14 {
  font-size: 0.75em;
}

.f-15 {
  font-size: 0.85em;
}

.f-16 {
  font-size: 1em;
}

.f-18 {
  font-size: 1.25em;
}

.f-20 {
  font-size: 1.5em;
}

.f-24 {
  font-size: 1.75em;
}

.f-32 {
  font-size: 2em;
}

.f-36 {
  font-size: 2.5em;
}

.f-44 {
  font-size: 3em;
}

.font-weight-lighter {
  font-weight: 200;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.font-weight-bolder {
  font-weight: 600 !important;
}
.rounded-7 {
  border-radius: 20px !important;
}

.line-ht-0 {
  line-height: 0vmin;
}
.line-ht-2 {
  line-height: 2vmin;
}
.line-ht-8 {
  line-height: 8vmin;
}
.no-text-decor {
  text-decoration: none !important;
}
